form {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height:1.5em;
}
li,
ul,
body,
input {
  margin: 0;
  padding: 0;
  list-style: none
}
/*sectiop*/
.ul-list {
  clear: both;
  display: table;
  width: 630px;
  margin:0 auto;
}
.ul-list:after {
  content: '';
  clear: both;
  display: table
}
.ul-list li {
  margin: 0 auto;
  margin-bottom: 12px;

}
label {
  font-weight:bold;
}
.input {
  background: #fff;
  transition: all 800ms;
  width:100%;
  margin:0 auto;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  border: solid 1px #ccc;
  outline: none;
  color: #999;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  font-size: 16px;
  padding-left:10px;
}

.input:focus:invalid {
  border-color: red
}

.input:focus:invalid+.icon {
  border-color: red
}

.input:focus:valid {
  border-color: green
}

.input:focus:valid+.icon {
  border-color: green
}

.btn {
  border: none;
  outline: none;
  background: #29ABA4;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  display: block;
  height: 40px;
  width: 200px;
  padding: 0 10px;
  border-radius: 3px;
  font-size: 16px;
  color: #FFF;
}
.btn:hover {
  background:#38cfc7;
}
.form a i.fa {
  line-height: 35px;
}
div .form-header li a {
  text-decoration: none;
  color:gray;
}

#currentPasswordConfirmation {
  margin: 0 auto;
  background: #cbd7d7;
  border-radius: 6px;
  box-sizing: border-box;
  padding:30px;
}

#currentPasswordConfirmation p {
  font-family:'Roboto';
  font-size:16px;
}

#currentPasswordConfirm {
  width:100%;
  margin:0 auto;
}

#avatarheader {
  width:100%;
  height:80px;
}
