html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height:100%;
}
.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
tr.collapse.in {
    display: table-row;
}
tbody.collapse.in {
    display: table-row-group;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 10px 10px 15px;
}
@media all and (max-width: 820px) {
  .nav {
    padding-right:0;
    width:90%;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
@media (min-width: 820px) {
    .navbar-header {
        float: left;
    }
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 2px solid #29ABA4;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
    overflow-y: auto;
}
@media (min-width: 820px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 820px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}
.navbar-fixed-top {
    position:fixed;
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    display:inline-block;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}
.navbar-brand > img {
    display:inline-block;
}

@media (min-width: 820px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 820px) {
    .navbar-toggle {
        display: none;
    }
}
.navbar-nav {
    margin: 7.5px -15px;
}

@media (min-width: 820px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media (min-width: 820px) {
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
    clear: both;
}

#custom.navbar-default {
    background-color: white;
    border-width: 0px;
    border-bottom: 2px solid #29ABA4;
}
#custom.navbar-default .navbar-brand { /*changes brand color*/ /////////////////////
    height: 20px;
    font-size:20px;
    text-decoration:none;
    color:#29ABA4;
    display:inline-block;
}
#custom.navbar-default .navbar-nav>li>a {
    height: 45px;
    font-size:16px;
    color: #29ABA4;
    text-decoration:none;
    background-color:white;

}
#custom.navbar-default .navbar-nav>li>a:hover,
#custom.navbar-default .navbar-nav>li>a:focus {
    color: #38cfc7;
}
#custom.navbar-default .navbar-nav>.active>a,
#custom.navbar-default .navbar-nav>.active>a:hover,
#custom.navbar-default .navbar-nav>.active>a:focus {
    color: #38cfc7;
}
#custom.navbar-default .navbar-toggle {
    border-color: #237A3B;
    background-color:white;
}
#custom.navbar-default .navbar-toggle:hover,
#custom.navbar-default .navbar-toggle:focus {
    background-color: white;
}
#custom.navbar-default .navbar-toggle .icon-bar {
    background-color: #29ABA4;
}
#custom.navbar-default .navbar-toggle:hover .icon-bar,
#custom.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #29ABA4;
}
#custom {
    width:100%;
}

#nav ul {
    list-style: none;
}

.navbar-header {
  padding-left:40px;
  padding-right:40px;
}

#nav {
  padding-right:40px;
}

/**Make sub-dropdown open on click instead of on hover**/

#nav ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:white;
  width:120%;
}

#nav ul ul li {
	float:none;
	width:100%;
  padding-top:10px;
  padding-bottom:10px;
  height:20px;
  /**border-bottom: 2px solid #29ABA4;**/
}

#nav ul ul a  {
  padding-top:10px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  box-sizing:border-box;
  text-decoration:none;
  color: #29ABA4;
  height:20px;
  width:100%;
}
#nav ul ul a:hover  {
  color:#38cfc7;
}
#nav ul li:hover > ul {
	display:block;
}

/**/

@media all and (max-width:820px) {
  #nav {
    padding-right:0px;
  }
  .navbar-header {
    padding-left:0px;
    padding-right:0px;
  }
}

@media all and (max-width:820px) {
  #nav ul li ul {
  	display:block;
  }
  
}
