@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background:#f6f8f8;
  font-family:'Roboto', sans-serif;
  width:100%;
  margin:0 auto;
  box-sizing: border-box;
  padding:40px;
}
hr {
  background:#f6f8f8;
  width:100%;
}
.title1 {
  margin:0 auto;
  text-align:center;
  font-size:1.4em;
  width:100%;
}
.content1 {
  float:left;
  width:700px;
  font-size:1em;
  background:white;
  box-sizing: border-box;
  padding:30px;
  line-height:1em;
  border-radius:12px;
  border: 1px solid whitesmoke;
  display:inline;
}
.content2 {
  height:600px;
  width:400px;
  clear:left;
  float:right;
  background:white;
}
