@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background:#f6f8f8;
  font-family:'Roboto', sans-serif;
  width:100%;
  margin:0 auto;
}
.title1 {
  margin:0 auto;
  text-align:center;
  font-size:2em;
  width:100%;
}
.content1 {
  margin:0 auto;
  width:100%;
  font-size:1em;
  background:white;
  box-sizing: border-box;
  padding:20px;
}
