<!DOCTYPE html>
<html lang="en-IN">
<head>
    <meta charset="utf-8">
    <title>Connect Local Account</title>
    <link href='https://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <link href="/css/form-style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
    <div id="login-form">
        <div>
            <ul class="form-header">
                <li>
                    <label for="login"><i class="fa fa-lock"></i>CONNECT LOCAL ACCOUNT</label>
                </li>
            </ul>
        </div>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <div class="section-out">
            <section class="login-section">
                <div class="login">
                    <form action="/login" method="post">
                        <ul class="ul-list">
                            <li>
                                <input name="email" type="email" required class="input" placeholder="Your Email" /><span class="icon"><i class="fa fa-user"></i></span></li>
                            <li>
                                <input name="password" type="password" required class="input" placeholder="Password" /><span class="icon"><i class="fa fa-lock"></i></span></li>
                            <li><span class="remember"><a href="">Forgot your password?</a></span></li>
                            <li>
                                <input type="submit" value="CONNECT ACCOUNT" class="btn">
                            </li>
                        </ul>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
