<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>BOMBAD</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/navbar1.css" rel="stylesheet" type="text/css" />
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <!-- NAVBAR -->
    <div id="header" class="header sticky">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="rectangle-button"><a href="/login" id="login-button">LOG IN</a></li>
                <li class="rectangle-button"><a href="/signup" id="signup-button">SIGN UP</a></li>
            </ul>
        </nav>
    </div>
    <!-- BODY -->
    <section id="main">
        <div id="home">
            <div id="large-header" class="large-header">

            </div>
        </div>
    </section>
    <section id="content">

    </section>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
