<!DOCTYPE html>
<html lang="en-IN">
<head>
<meta charset="utf-8">
<title>User Authentification</title>
<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet'>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel='stylesheet'>
<link href="css/form-style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="signup-form">

<div>
<ul class="form-header">
<li><label for="signup"><i class="fa fa-credit-card"></i> REGISTER</label></li>
<li><a href="/login"><label for="login"><i class="fa fa-lock"></i> LOGIN<label for="login"></a></li>
</ul>
</div>
<% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %>
<div class="section-out">
<section class="signup-section">
<div class="signup">
<form action="/signup" method="post">
  <ul class="ul-list">
  <li><input name="email" type="email" required class="input" placeholder="Your Email"/><span class="icon"><i class="fa fa-user"></i></span></li>
  <li><input name="password" type="password" required class="input" placeholder="Password"/><span class="icon"><i class="fa fa-lock"></i></span></li>
  <li><input type="checkbox" id="check1"> <label for="check1">I accept terms and conditions</label></li>
  <li><input type="submit" value="SIGN UP" class="btn"></li>
  </ul>
</form>
</div>

<div class="social-login">Or sign up with &nbsp;
<a href="" class="fb"><i class="fa fa-facebook"></i></a>
<a href="" class="tw"><i class="fa fa-twitter"></i></a>
<a href="" class="gp"><i class="fa fa-google-plus"></i></a>
<a href="" class="in"><i class="fa fa-linkedin"></i></a>
</div>
</section>
</div>

</div>

</body>
</html>
